*.log
*~
figures/._.DS_Store
figures/.DS_Store
*.aux
*.bbl
*.log
*.out
*.gz
*.toc
distCjHMSC.pdf
slidesITW2015/calibreport.aux
slidesITW2015/calibreport.log
slidesITW2015/calibreport.nav
slidesITW2015/calibreport.out
slidesITW2015/calibreport.pdf
slidesITW2015/calibreport.snm
slidesITW2015/calibreport.toc
