*.log
*~
figures/._.DS_Store
figures/.DS_Store
*.aux
*.bbl
*.log
*.out
*.gz
*.toc
distCjHMSC.pdf
slidesITW2015/slidesSUT2015.aux
slidesITW2015/slidesSUT2015.log
slidesITW2015/slidesSUT2015.nav
slidesITW2015/slidesSUT2015.out
slidesITW2015/slidesSUT2015.pdf
slidesITW2015/slidesSUT2015.snm
slidesITW2015/slidesSUT2015.synctex.gz
slidesITW2015/slidesSUT2015.toc
